.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 5px;
}

.profile__info {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #212121;
  max-width: 420px;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__bio {
  margin: 0;
  max-width: 420px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: #212121;
  opacity: 70%;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-btn {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  border: none;
  background-color: transparent;
  width: 107.34px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: #212121;
  opacity: 70%;
  padding: 0%;
}

.profile__edit-btn:hover {
  opacity: 100%;
  cursor: pointer;
}

.profile__add-btn {
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-top: auto;
  background-color: #212121;
  border-radius: 8px;
  font-size: 16px;
  line-height: 16px;
  width: 149px;
  height: 52px;
  border: none;
  color: #fcf5e5;
  font-weight: 500;
}

.profile__add-btn:hover {
  opacity: 80%;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 282px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__name {
    margin: 0 0 6px;
    font-size: 20px;
  }

  .profile__avatar {
    margin-right: 0;
    height: 80px;
    width: 80px;
  }

  .profile__add-btn {
    margin: 20px 0 0;
    width: 100%;
  }

  .profile__edit-btn {
    margin-top: 32px;
  }

  .profile__info {
    align-items: center;
  }

  .profile__name,
  .profile__bio {
    text-align: center;
  }

  .profile__name {
    margin-top: 12px;
  }
}
